body {
    background-color: #262E2E;
}

.Header {
    background-color: #2B4A4A;
    height: 100px;
}

.Header > div > div > a {
    color: #00A3A3;
    text-align: right;
    margin-right: 10px;
    display: block;
}

.Header > div > h1 {
    color: #00A3A3;
    text-align: center;
}

.Header > div > div > a:hover {
    color: #00A3A3;
    text-decoration: none;
}

.Navigation {
background: linear-gradient(#00A3A3, #0C8282);
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}